@import "../../../variables.scss";

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line,
.recharts-cartesian-grid-vertical,
.recharts-tooltip-item-name,
.recharts-tooltip-item-separator {
  display: none;
}

.recharts-dot {
  fill: map-get($colors, neutral4);
  stroke: map-get($colors, primary);
}

.recharts-legend-wrapper {
  font-size: 10px;
}
