@import "../../../variables.scss";
$borderRadius: 1rem;
$marginSize: 1.2rem;

.track {
  width: 100%;
  height: 4px;
  background-color: map-get($colors, neutral6);
  border-radius: $borderRadius;
  margin: $marginSize 0 $marginSize 0;
}

.thumb {
  min-width: 0%;
  max-width: 100%;
  height: 100%;
  background-color: map-get($colors, primary);
  border-radius: $borderRadius;
  transition: width 0.3s ease-in-out;
}
