@import "../../../variables.scss";
$circleSize: 0.4rem;

.option {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0 2.1rem;
  text-decoration: none;

  span {
    font-weight: 300;
    margin: 0 0 0 0.5rem;
    color: map-get($colors, neutral4);
  }

  .circle {
    width: $circleSize;
    height: $circleSize;
  }
}
