@import "../../variables.scss";

.feed {
  -moz-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  -webkit-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);

  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  text-align: center;

  div {
    text-align: left;
  }

  .feed__cards {
    display: grid;
    grid-row-gap: 1rem;
    margin: 1rem 0;
  }

  .feed__header {
    display: flex;

    .feed__taskCompleted {
      width: 100%;
      font-weight: 600;
      color: map-get($colors, primary);
    }
  }

  .feed__today {
    font-weight: 600;
  }

  .feed__more {
    color: map-get($colors, primary);
    font-size: 12px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: map-get($colors, neutral6);
    }

    &:active {
      cursor: pointer;
      color: map-get($colors, secondary2);
    }
  }
}
