@import "../../../../variables.scss";
$iconSize: 18px;

.feed__card {
  -moz-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  -webkit-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);

  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-top: 0;
  }

  .feed__card__icons {
    display: flex;
    align-items: center;

    svg {
      &:hover {
        cursor: pointer;
      }
    }

    .feed__card__circles {
      display: flex;
      align-items: center;
      margin: 0 0.8rem 0 0;

      svg {
        margin: 0 0.3rem 0 0;
      }
    }

    .feed__card__edit__icons {
      display: flex;

      svg {
        height: $iconSize;
        width: $iconSize;
        color: map-get($colors, neutral5);
        margin: 0 0.5rem 0 0;
      }
    }
  }

  .feed__row__one {
    display: flex;

    .feed__card__header {
      font-weight: 600;
      width: 100%;

      @media (max-width: $breakpoint-mobile) {
        margin: 0 1rem 0 0;
      }
    }

    .feed__card__type {
      color: map-get($colors, neutral3);
    }
  }

  .feed__row__two {
    display: flex;
    margin: 1rem 0;

    .feed__card__label {
      color: map-get($colors, neutral3);
    }

    .feed__card__date {
      margin: 0 0 0 0.5rem;
    }
  }

  .feed__row__three {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0 0;

    .feed__card__name {
      margin: 0 0 0 1rem;

      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    .feed__push {
      display: flex;
      margin: 0 0 0 auto;

      @media (max-width: $breakpoint-mobile) {
        .feed__card__circles {
          display: none;
        }
      }
    }
  }
}
