@import "../../../../variables.scss";

.recharts-legend-item {
  margin: 1rem 0;
}

.recharts-pie {
  transform: scale(1.3);

  @media (min-width: $breakpoint-bigscreen) {
    transform: scale(1.6);
  }

  @media (max-width: $breakpoint-tablet) {
    transform: scale(1);
  }
}
