@import "../variables.scss";

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .content {
    width: -webkit-fill-available;
    // max-height: 100vh;
    height: calc(100vh - -48px);
    background: map-get($colors, backgroundColor);
  }
}
