@import "../variables.scss";

:root {
  --vh: 1vh;
}

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: vh(100);
  max-width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  @media only screen and (max-width: $breakpoint-tablet) {
    overflow: auto;
  }

  .content {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    height: calc(100vh - -48px);
    background: map-get($colors, backgroundColor);

    @media (max-width: $breakpoint-tablet) {
      height: 100vh;
    }
  }
}
