@import "../../variables.scss";
$size: 20px;

.search {
  display: flex;
  align-items: center;
  height: calc(16px + 2rem);
  background: map-get($colors, neutral4);
  padding: 1rem 0;

  -moz-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  -webkit-box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);
  box-shadow: 0px 2px 5px 0px map-get($colors, neutral5);

  .icon {
    width: $size;
    height: $size;
    color: map-get($colors, neutral5);
  }

  .hamburger {
    color: map-get($colors, primary);
    margin: 0 0 0 1.5rem;
    display: none;

    @media (max-width: $breakpoint-tablet) {
      display: initial;

      &:active {
        color: map-get($colors, secondary2);
      }
    }
  }

  .magnifier {
    margin: 0 0 0 2rem;
    @media (max-width: $breakpoint-tablet) {
      margin: 0 0 0 1rem;
    }
  }

  .notification {
    position: relative;
    margin: 0 2rem 0 0;

    .badge:before {
      position: absolute;
      content: " \25CF";
      color: red;
      right: 0.1rem;
      bottom: 0.6rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input[type="search"] {
    padding: 6px;
    border: none;
    margin: 0 0 0 0.5rem;
    width: 100%;
    color: map-get($colors, neutral3);
    -webkit-appearance: none; // Safari

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: map-get($colors, neutral5);
    }
  }

  input[type="search"]::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration {
    display: none;
  }

  input[type="search"]::-ms-clear,
  ::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}
