@import "../variables.scss";

.panel {
  background-color: map-get($colors, primary);
  color: map-get($colors, neutral4);
  padding: 0 1rem;
  height: 100%;
  width: fit-content;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  .mainMenu {
    margin: 0 0 1.5rem 0;
    display: grid;
    grid-row-gap: 1rem;
  }

  .sideMenu {
    margin: 1rem 0 0 0;
  }
}
