@import "variables.scss";

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: map-get($typography, font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
