@import "../../variables.scss";

.graph {
  -moz-box-shadow: 0px 2px 5px 0px map-get($colors, neutral6);
  -webkit-box-shadow: 0px 2px 5px 0px map-get($colors, neutral6);
  box-shadow: 0px 2px 5px 0px map-get($colors, neutral6);

  border-radius: 1rem;

  padding: 1rem 1.5rem;

  .graph__header {
    display: flex;

    .graph__header__text {
      width: 100%;
    }
  }
}
